html {
    background-color: aliceblue;
    font-size: 1.1em;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.heading {
    font-size: 2rem;
    line-height: 75%;
    letter-spacing: -1.5px;
}

.copy {
    font-size: 1rem;
    line-height: 1.4;
    word-spacing: 0;
}

.helper-text {
    font-size: 0.8rem;
}